<!--index.html-->

<!--Embed the header.html template-->
{{ template "header.html" .}}

<div class="album py-4 bg-light">
    <h1>TEST INDEX PAGE</h1>
    <h2>Login Form</h2>

    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="button" onclick="handleLoginFormSubmission()">Login</button>
    </form>
</div>

<!--Embed the footer.html template-->
{{ template "footer.html" .}}